<?xml version='1.0'?>
<database>
<name>coman Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://coman_cogimon</uri>
<uri>file://coman_hands</uri>
<uri>file://coman_no_forearms</uri>
<uri>file://coman_softhand</uri>
<uri>file://coman</uri>
<uri>file://coman_cogimon</uri>
</models>
</database>
