<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="COMAN">
  <!--
  ROS urdf definition of the COMAN humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use COMAN in GAZEBO
  
  -->
  <xacro:include filename="$(find coman_urdf)/urdf/coman.urdf.xacro" />

  <xacro:include filename="$(find coman_urdf)/urdf/microstrain_3dmgx2_imu.gazebo.xacro" />

  <xacro:include filename="$(find coman_urdf)/urdf/coman.gazebo.xacro" />

<!-- YARP PLUGINS for GAZEBO SIMULATION -->
  <xacro:include filename="$(find coman_urdf)/urdf/yarp_control.gazebo.xacro" />

  <origin xyz="0.0 0.0 0.521" rpy="0 0 0" />
</robot>

