<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- 
  ROS urdf definition of the COMAN humanoid robot by Istituto Italiano di Tecnologia
  
  DO NOT INCLUDE THIS FILE DIRECTLY! USE coman_robot.urdf.xacro INSTEAD!

  Author: Enrico Mingo & Alessio Rocchi

  Inertial matrix has to be in CoM frame (URDF specs)

  Velocity and effort limits are fake!
-->

<!-- ********************TORSO******************** -->

<!-- first real link of the robot, inertial reference frame -->
<xacro:include filename="$(find coman_urdf)/urdf/parts/torso.urdf.xacro" />
  
<!-- ********************LEGS******************** -->
<xacro:include filename="$(find coman_urdf)/urdf/parts/legs.urdf.xacro" />

<!-- ********************ARMS******************** -->
<xacro:include filename="$(find coman_urdf)/urdf/parts/arms.urdf.xacro" />

<!-- ********************JOINTS******************** -->

    <joint name="l_ankle_joint" type="fixed">
      <parent link="LFoot"/>
      <child link="l_ankle"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

  <joint name="r_ankle_joint" type="fixed">
    <parent link="RFoot"/>
    <child link="r_ankle"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="l_sole_joint" type="fixed">
    <parent link="LFoot"/>
    <child link="l_sole"/>
    <origin xyz="0 0 -0.09" rpy="0 0 0" />
  </joint>

  <joint name="r_sole_joint" type="fixed">
    <parent link="RFoot"/>
    <child link="r_sole"/>
    <origin xyz="0 0 -0.09" rpy="0 0 0" />
  </joint>

  <joint name="l_toe_joint" type="fixed">
    <parent link="l_sole"/>
    <child link="l_toe"/>
    <origin xyz="0.13 0 0" rpy="0 0 0" />
  </joint>

  <joint name="r_toe_joint" type="fixed">
    <parent link="r_sole"/>
    <child link="r_toe"/>
    <origin xyz="0.13 0 0" rpy="0 0 0" />
  </joint>



<xacro:if value="${GAZEBO_COMAN_USES_XTION}">
        <joint name="Xtion_body_joint" type="fixed">
    		<parent link="DWYTorso"/>
    		<child link="Xtion_body"/>
    		<origin xyz="0 0 0" rpy="0 0 0" />
  	</joint>

        <joint name="Xtion_cam_body_joint" type="fixed">
    		<parent link="Xtion_body"/>
    		<child link="Xtion_cam_body"/>
		<!-- origin xyz="0.071 0 0.591" rpy="0 1.396 0" / -->
                <origin xyz="0.071 0 0.591" rpy="0 0 0" />
		<!--axis xyz="0 1 0" />
    		<limit velocity="4.0" effort="5" lower="-0.4145" upper="1.57075" />
    		<dynamics friction="0" damping="3.0"/-->
  	</joint>

        <joint name="gaze_joint" type="fixed">
    		<parent link="Xtion_cam_body"/>
    		<child link="gaze"/>
    		<origin xyz="0.015 0 0.022" rpy="0 0 0" />
  	</joint>

    <!--joint name="camera_link_joint" type="fixed">
    		<parent link="gaze"/>
    		<child link="camera_link"/-->
    		<!--origin xyz="0.004 0.06 0.019" rpy="0.00 0.003 0.0" /--> <!--Real xtion pro live-->
        <!--origin xyz="0.0 0.0 0.0" rpy="-1.57 0.0 -1.57" /--> <!--Simulated xtion pro live-->
  	<!--/joint-->

</xacro:if>
<xacro:unless value="${GAZEBO_COMAN_USES_XTION}">
 	<joint name="gaze_joint" type="fixed">
    		<parent link="torso"/>
    		<child link="gaze"/>
    		<origin xyz="0 0 0.1" rpy="0 0 0" />
  	</joint>
</xacro:unless>

</robot>



