<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="coman">

<!-- 
  ROS urdf definition of the COMAN humanoid robot by Istituto Italiano di Tecnologia
  
  DO NOT INCLUDE THIS FILE DIRECTLY! USE coman_robot.urdf.xacro INSTEAD!

  Author: Enrico Mingo & Alessio Rocchi

  Inertial matrix has to be in CoM frame (URDF specs)

  Velocity and effort limits are fake!
-->


<!-- ************ MODEL CONFIGURATION ************ -->
<xacro:include filename="$(find coman_urdf)/urdf/coman_config.urdf.xacro" />

<!-- ***********  MODEL COLORS *********** -->
<xacro:include filename="$(find coman_urdf)/urdf/coman_materials.urdf.xacro" />

<!-- Head -->
<!-- This links are defined in order to be compliant with http://www.ros.org/reps/rep-0120.html#coordinate-frames
and to define the end effectors of the robot.
The coordinate frame called gaze defines the head position and orientation. The orientation indicates in which direction the head appears to be looking regardless of any sensors (camera for instance). -->
<link name="gaze"/>

<xacro:if value="${GAZEBO_COMAN_USES_XTION}">
	<xacro:include filename="$(find coman_urdf)/urdf/sensors/xtion.urdf.xacro" />
</xacro:if>

<xacro:unless value="${GAZEBO_COMAN_USES_XTION}">
	<joint name="gaze_joint" type="fixed">
		<parent link="torso"/>
		<child link="gaze"/>
		<origin xyz="0 0 0.1" rpy="0 0 0" />
	</joint>
</xacro:unless>

  

<!-- ************ COMAN BASE ************** -->
<xacro:include filename="$(find coman_urdf)/urdf/coman_base.urdf.xacro"/>

<!-- ************ FOREARMS ************ -->
<!-- This links are defined in order to be compliant with http://www.ros.org/reps/rep-0120.html#coordinate-frames
and to define the end effectors of the robot -->

<!-- position and orientation of the arm regardless of the tool (grasping device for instance) attached to it -->
<link name="l_wrist"/>
<link name="r_wrist"/>


<xacro:if value="${GAZEBO_COMAN_USES_FOREARMS}">
    <xacro:include filename="$(find coman_urdf)/urdf/parts/7DOF_forearms_DRC_14.urdf.xacro" />
</xacro:if>
<xacro:unless value="${GAZEBO_COMAN_USES_FOREARMS}">
    <xacro:include filename="$(find coman_urdf)/urdf/parts/no_forearms.urdf.xacro" />
</xacro:unless>



<!-- ************ HANDS ************ -->

<xacro:if value="${GAZEBO_COMAN_USES_FOREARMS}">
    <xacro:include filename="$(find coman_urdf)/urdf/parts/soft_hand.urdf.xacro" />
    <!-- Reference frames in hands -->
    <xacro:include filename="$(find coman_urdf)/urdf/parts/hand_reference_frame.urdf.xacro" />	
</xacro:if>

<!-- IMU -->
<xacro:include filename="$(find coman_urdf)/urdf/sensors/imu.urdf.xacro"/>
  
</robot>




