<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="x_positive" value="0.13" />
	<xacro:property name="x_negative" value="-0.07" />
	<xacro:property name="y_positive" value="0.05" />
	<xacro:property name="y_negative" value="-0.05" />

        <xacro:macro name="reference_frame_foot" params="parent name x y">
	<!-- macro for one reference frame in foot -->
		<link name="${name}_link"/>

		<joint name="${name}_joint" type="fixed">
			<origin xyz="${x} ${y} 0" rpy="0 0 0" />
			<parent link="${parent}"/>
			<child link="${name}_link"/>
		</joint>
	</xacro:macro>

	<xacro:macro name="references_frame_foot" params="parent name">
	<!-- macro for reference frames in foot -->
		<xacro:reference_frame_foot parent="${parent}" name="${name}_upper_right" x="${x_positive}" y="${y_positive}" />
		<xacro:reference_frame_foot parent="${parent}" name="${name}_upper_left" x="${x_positive}" y="${y_negative}" />
		<xacro:reference_frame_foot parent="${parent}" name="${name}_lower_right" x="${x_negative}" y="${y_positive}" />
		<xacro:reference_frame_foot parent="${parent}" name="${name}_lower_left" x="${x_negative}" y="${y_negative}" />	
	</xacro:macro>

	<xacro:references_frame_foot parent="l_sole" name="l_foot"/>
	<xacro:references_frame_foot parent="r_sole" name="r_foot"/>

</robot>
