<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="PI" value="3.14159265359" />

<!-- LINKS -->
<link name ="Xtion_body">
    <inertial>
      <origin xyz="0.047 0.0 0.40" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia ixx="0.01"  ixy="3.34E-7"  ixz="-2.66E-4" iyy="0.009" iyz="1.97E-6" izz="5.1E-4" />
    </inertial>
    <visual>
      <origin xyz="-0.020281504 0.0 -0.68662053" rpy="0 0 ${PI}"/>
      <geometry name="Xtion_body_visual">
        <mesh filename="package://coman_urdf/meshes/XtionBase.STL" scale="0.03937 0.03937 0.03937" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.020281504 0.0 -0.68662053" rpy="0 0 ${PI}"/>
      <geometry name="Xtion_body_collision">
        <mesh filename="package://coman_urdf/meshes/simple/XtionBase.STL" scale="0.03937 0.03937 0.03937" />
      </geometry>             
    </collision>
</link>

<link name="Xtion_cam_body">
    <inertial>
      <origin xyz="0.0 0.0 0.0225" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="0.00053"  ixy="0.0"  ixz="0.0" iyy="0.00008" iyz="0.0" izz="0.00053" />
    </inertial>
    <visual>
      <origin xyz="-0.0915 0.0 -1.2778" rpy="0 0 ${PI}"/>
      <geometry name="Xtion_cam_body_visual">
        <mesh filename="package://coman_urdf/meshes/XtionCamBody.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0915 0.0 -1.2778" rpy="0 0 ${PI}"/>
      <geometry name="Xtion_cam_body_collision">
        <mesh filename="package://coman_urdf/meshes/simple/XtionCamBody.STL" scale="0.001 0.001 0.001" />
      </geometry>             
    </collision>
</link>

<!-- JOINTS -->
<joint name="Xtion_body_joint" type="fixed">
	<parent link="DWYTorso"/>
	<child link="Xtion_body"/>
	<origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<joint name="Xtion_cam_body_joint" type="fixed">
	<parent link="Xtion_body"/>
	<child link="Xtion_cam_body"/>
	<!-- origin xyz="0.071 0 0.591" rpy="0 1.396 0" / -->
        <origin xyz="0.071 0 0.591" rpy="0 0 0" />
	<!--axis xyz="0 1 0" />
	<limit velocity="4.0" effort="5" lower="-0.4145" upper="1.57075" />
	<dynamics friction="0" damping="3.0"/-->
</joint>

<joint name="gaze_joint" type="fixed">
	<parent link="Xtion_cam_body"/>
	<child link="gaze"/>
	<origin xyz="0.015 0 0.022" rpy="0 0 0" />
</joint>

<!--joint name="camera_link_joint" type="fixed">
    		<parent link="gaze"/>
    		<child link="camera_link"/-->
    		<!--origin xyz="0.004 0.06 0.019" rpy="0.00 0.003 0.0" /--> <!--Real xtion pro live-->
        <!--origin xyz="0.0 0.0 0.0" rpy="-1.57 0.0 -1.57" /--> <!--Simulated xtion pro live-->
  	<!--/joint-->

</robot>
