<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <link name ="LFoot">
      <inertial>
        <origin xyz="0.0096921046 0.0090460227 -0.043062308" rpy="0 0 0"/>
        <mass value="0.66646684"/>
        <inertia ixx="0.0012944808"  ixy="9.2387693E-5"  ixz="2.0080105E-4" iyy="0.0015851846" iyz="-2.7599327E-4" izz="0.0013326766" />
      </inertial>
      <visual>
        <origin xyz="0.0 -0.0726 -0.0932" rpy="0 0 -3.14159265359"/>
        <material name="dark_grey"/>
        <geometry name="LFoot_visual">
          <mesh filename="package://coman_urdf/meshes/collada/Lfoot.stl" scale="0.03937 0.03937 0.03937" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 -0.0726 -0.0932" rpy="0 0 -3.14159265359"/>
        <geometry name="LFoot_collision">
          <mesh filename="package://coman_urdf/meshes/collada/simple/simple_asm0001_collada_01_prt.stl" scale="0.03937 0.03937 0.03937" />
        </geometry>             
      </collision>
    </link>

</robot>
