<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo reference="Waist">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="DWL">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="DWS">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="DWYTorso">
  <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="RShp">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="RShr">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="RShy">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="RElb">
  <material>Gazebo/DarkGrey</material>
</gazebo>


<gazebo reference="LElb">
  <material>Gazebo/DarkGrey</material>
</gazebo>

  
</robot>
