<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!--
  ROS urdf definition of the COMAN humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Alessio Rocchi
  
  This file groups files to use COMAN in GAZEBO
  
  -->
<xacro:if value="${GAZEBO_COMAN_USES_ROS_IMU}">
<gazebo>
       <plugin name="imu_plugin" filename="libgazebo_ros_imu.so"> <!-- For now we use this...to change with the commented one in future-->
       <!--plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so"--> 
              <alwaysOn>true</alwaysOn> 
              <bodyName>imu_link</bodyName>
              <frameName>imu_link</frameName> 
              <topicName>imu</topicName> 
              <serviceName>imu_service</serviceName> 
              <gaussianNoise>0.0</gaussianNoise> 
              <updateRate>20.0</updateRate> 
       </plugin>
</gazebo>
</xacro:if>

<xacro:unless value="${GAZEBO_COMAN_USES_ROS_IMU}">
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
         <always_on>1</always_on>
         <update_rate>1000</update_rate>
         <visualize>true</visualize>
         <topic>__default_topic__</topic>
	 <imu>
          <!--
          <noise>
           <type>gaussian</type>
            <rate>
             <mean>0.0</mean>
             <stddev>2e-4</stddev>
             <bias_mean>0.0000075</bias_mean>
             <bias_stddev>0.0000008</bias_stddev>
            </rate>
            <accel>
             <mean>0.0</mean>
             <stddev>1.7e-2</stddev>
             <bias_mean>0.1</bias_mean>
             <bias_stddev>0.001</bias_stddev>
            </accel>
          </noise>
          -->
         </imu>
<xacro:if value="${GAZEBO_COMAN_USES_YARP}">
         <plugin name="coman_yarp_gazebo_plugin_IMU" filename="libgazebo_yarp_imu.so">
           <yarpConfigurationFile>model://coman_urdf/conf/coman/coman_gazebo_inertial.ini</yarpConfigurationFile>
         </plugin>
</xacro:if>
        </sensor>
       </gazebo>
</xacro:unless>

</robot>
